%article.video
  .container
    .row
      .video_large_cover.col-sm-5.col-sm-offset-1
        %img(src="/tmp/book-large-cover.jpg")
      .book_info.col-sm-4
        %header
          %h3= @book.title
          %span Rating: 4.0/5.0
        %h4 Description
        %p= @book.description
        .actions
          = link_to "+ Add to Queue", queue_items_path(book_id: @book.id), method: :post, class: "btn btn-success"
          %button.btn.btn-danger(href="#") Mark as Read

%section.reviews
  .container
    .row
      .col-sm-10.col-sm-offset-1
        = bootstrap_form_for [@book, Review.new] do |f|
          %fieldset
            .form-group
              = f.label "Rate this book"
              .row
                .col-sm-3
                  = f.select :rating, (1..5), {}, { class: "form-control" }
            .form-group
              .row
                .col-sm-10
                  = f.text_area :content, rows: 6, class: "form-control", label: "Write Review"
          %fieldset.form-group.clearfix
            = f.submit :Submit, class: "btn"
            = link_to :Cancel, @book
        %header
          %h4 User Reviews (#{@reviews.count})
        .book-reviews.list-group
          - @reviews.each do |review|
            %article.review.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                %p
                  by:
                  = link_to review.user.username
              .col-sm-8
                %p #{review.content}




